<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Dataset-description:" data-toc-modified-id="Dataset-description:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Dataset description:</a></span></li><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Cleaning</a></span><ul class="toc-item"><li><span><a href="#Informational" data-toc-modified-id="Informational-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Informational</a></span></li><li><span><a href="#Exit-Rates" data-toc-modified-id="Exit-Rates-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exit Rates</a></span></li><li><span><a href="#Browser" data-toc-modified-id="Browser-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Browser</a></span></li><li><span><a href="#Revenue" data-toc-modified-id="Revenue-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Revenue</a></span></li></ul></li></ul></div>

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/online_shoppers_intention_DATAPTDIC19.csv', sep=';')

In [4]:
data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0.0,0,0.0,0,1.0,0,0.20,0.20,0,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,FALSE
1,0.0,0,0.0,0,2.0,64,0.00,0.10,0,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,FALSE
2,0.0,-1,0.0,-1,1.0,-1,0.20,0.20,0,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,FALSE
3,0.0,0,0.0,0,2.0,2.666.666.667,0.05,0.14,0,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,FALSE
4,0.0,0,0.0,0,10.0,627.5,0.02,0.05,0,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,FALSE

In [5]:
data.shape

(12330, 18)

In [6]:
data.describe()

,Administrative,Informational,ProductRelated,BounceRates,ExitRates,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12315.000000,12316.000000,12315.000000,12316.000000,12316.000000,12329.000000,12329.000000,12330.000000,12330.000000,12330.000000
mean,2.317824,0.503979,31.765246,0.022152,0.043003,0.061432,2.273096,2.357097,3.147364,4.069586
std,3.322888,1.270701,44.491889,0.048427,0.048527,0.198925,3.907923,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,7.000000,0.000000,0.014286,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,0.000000,18.000000,0.003119,0.025124,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,0.000000,38.000000,0.016684,0.050000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,24.000000,705.000000,0.200000,0.200000,1.000000,99.000000,13.000000,9.000000,20.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
Administrative             12315 non-null float64
Administrative_Duration    12316 non-null object
Informational              12316 non-null float64
Informational_Duration     12316 non-null object
ProductRelated             12315 non-null float64
ProductRelated_Duration    12316 non-null object
BounceRates                12316 non-null float64
ExitRates                  12316 non-null float64
PageValues                 12330 non-null object
SpecialDay                 12329 non-null float64
Month                      12325 non-null object
OperatingSystems           12329 non-null float64
Browser                    12330 non-null int64
Region                     12330 non-null int64
TrafficType                12330 non-null int64
VisitorType                12327 non-null object
Weekend                    12330 non-null bool
Revenue                    12330 non-null object
dtypes: bool(1), float64(7), int64(3), object(7)
memory usage: 1.6+ MB

## Dataset description:
 - Administrative:`float`. Administrative Value. `yet to identify`.
 - Administrative_Duration: `object`. Duration in Administrative Page. `Identify values and change dtype accordingly.`. 
 - Informational: `float`. Informational Value. `yet to identify` 
 - Informational_Duration: `object`. Duration in Informational Page. `Identify values and change dtype accordingly.`
 - ProductRelated: `float.` Product Related Value. `yet to identify` 
 - ProductRelated_Duration: `object`. Duration in Product Related Page. `Identify values and change dtype accordingly.` 
 - BounceRates: `float`. Bounce Rates of a web page. Percentages. The value of "Bounce Rate" feature for a web page refers to the percentage of visitors who enter the site from that page and then leave ("bounce") without triggering any other requests to the analytics server during that session. 
 - ExitRates: `float`. Exit rate of a web page. The value of "Exit Rate" feature for a specific web page is calculated as for all pageviews to the page, the percentage that were the last in the session. 
 - PageValues: `object`. Page values of each web page. The "Page Value" feature represents the average value for a web page that a user visited before completing an e-commerce transaction. `Identify values and change dtype accordingly.` 
 - SpecialDay: Special days like valentine etc. `float`. Closeness to a special date. `dtype correct`. For example, for Valentinaâ€™s day, this value takes a nonzero value between February 2 and February 12, zero before and after this date unless it is close to another special day, and its maximum value of 1 on February 8. 
 - Month: Month of the year. `object`. String to identify the month of the year. `clean`. 
 - OperatingSystems: Operating system used. `float`. `Try to explain the values`. 
 - Browser: Browser used. `integer` 
 - Region: Region of the user. `integer`. 
 - TrafficType: Traffic Type. `integer`.  
 - VisitorType: Types of Visitor `object` 
 - Weekend: Weekend or not `bool`  
 - Revenue: Revenue will be generated or not `object`. `Should be bool`

## Data Cleaning

### Informational

In [43]:
print(f'Total number of unique values: {data.Informational.nunique()}')
print(f'Total number of missing values: {data.Informational.isnull().sum()}')

# Filterring to check where have missing values

null_columns = data.columns[data.isnull().any()]
null_data = data[data["Informational"].isnull()][null_columns]
null_data

Total number of unique values: 17
Total number of missing values: 14

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,SpecialDay,Month,OperatingSystems,VisitorType
12316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,1.0,Returning_Visitor
12318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,3.0,Returning_Visitor
12321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,1.0,Returning_Visitor
12324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,1.0,Returning_Visitor
12326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,3.0,Returning_Visitor
12327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,2.0,Returning_Visitor
12328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Mar,3.0,Returning_Visitor
12329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,May,2.0,Returning_Visitor

Notes:
- **Data Type**: Numeric variable, float. `Correct`
- **Errors**: Have 17 unique categories (pages). `Don't know what 0 stands for in this case, if it's a category of a page, I would suggest replacing it with another number to avoid Null warnings`
- **Missing values (NaN)**: Have 14 missing values (NaN), which is 0.1% out of all dataset. In all the 14 cases of NaN values, the data is also missing in almost all of other variables. `Will change it to average only can also do the same in other columns`
- **Outliers**: no outliers

### Exit Rates

Notes:
- **Data Type**: Numeric variable, float. `Correct`
- `Exit Rates is highly correlated with BounceRates and should be ignored for analysis`

### Browser

In [48]:
print(f'Total number of unique values: {data.Browser.nunique()}')
print(f'Total number of missing values: {data.Browser.isnull().sum()}')

Total number of unique values: 13
Total number of missing values: 0

Notes:
- **Data Type**: Numeric integer. `Correct`
- **Errors**: Have 13 unique categories (browsers), no errors
- **Missing values (NaN)**: no missing values 
- **Outliers**: no outliers

### Revenue

In [56]:
print(f'Total number of missing values: {data.Revenue.isnull().sum()}')
print(f'Total number of unique values: {data.Revenue.nunique()}')
print(data.Revenue.value_counts())

Total number of missing values: 0
Total number of unique values: 4
FALSE    10410
TRUE      1906
0           12
1            2
Name: Revenue, dtype: int64

Notes:
- **Data Type**: Object. `Will convert to boolean`
- **Errors**: Have 4 categories instead of 2. `Will unify all to TRUE and FALSE`
- **Missing values (NaN)**: no missing values
- **Outliers**: no outliers